body {
  background-color: lavender;
}
h1 {
  text-align: center;
}
.container {
  text-align: center;
  padding: 14px;
  margin: 24px;
  background-color: white;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}
.btn-group {
  padding: 7.5px;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}
button {
  border: none;
  background-color: lavender;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  color: white;
}
input[type="text"] {
  border: 0;
  border-bottom: 1.5px solid #ccc;
  padding-top: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  outline: none;
}
